@{

    ViewBag.Title = "Home Page";
    Directory.CreateDirectory(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings.Get("ImageDirectory")));
    string[] files = Directory.GetFiles(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings.Get("ImageDirectory")));

    int i = 0;
    Picture picture = new Picture();

}
@using App.Controllers;

<!--<h6>Для добавления картинки перейдите <a href="https://localhost:44373/Home/About">сюда</a></h6>-->
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="loc">
        
        @while (i < files.Length)
        {
            
            //<div id="@i">
            //string sas = files[i];
            picture.Path = files[i];
            picture.Preview();
            
            <div class="lol">
                <img id="@files[i].Remove(0, 51)" class="image" src="/Content/Images/@Path.GetFileName(files[i])" onclick="resize()"
                     title="Файл: @picture.Stats[7],
Название: @picture.Stats[0],
Производитель камеры: @picture.Stats[1],
Модель камеры: @picture.Stats[2],
Дата сьемки: @picture.Stats[3],
Разрешение: @picture.Stats[4] x @picture.Stats[5],
Размер: @picture.Stats[6] КБ" />
                <input class="button" type="submit" name="@files[i]" value="🗑" title="Удалить картинку" />
                <input class="button" type="submit" name="@files[i]1" value="⇩" title="Скачать картинку" />
            </div>
            //<button id="@i+1" class="button" onclick="deletefile()" resource="@files[i].Remove(0,51)" title="@files[i].Remove(0,51)">🗑</button>
            //<a href="~/Views/Home/DeleteImage/@files[i]">Delete Image</a>
            i++;
        }
        @ViewBag.LOLS
    </div>

}
<style>
    body {
        margin: 0;
    }

    .loc {
        /*margin:30px;*/
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 5px;
        /*left:50px;*/
        /*max-height:100px;*/
    }

    .lol {
    }

    
    .image {
        float: left;
        width: 284px;
        height: 177px;
        cursor: pointer;
    }

    .button {
        z-index: 1;
        position: relative;
        bottom: 12.6%;
        right: -77%;
    }

    .popup {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        text-align: center;
        z-index: 1;
    }

    .popup_bg {
        background: rgba(0,0,0,0.4);
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
    }


    .popup_img {
        position: relative;
        margin: 0 auto;
        z-index: 3;
        max-height: 94%;
        max-width: 94%;
        margin: 1% 0 0 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        top: 4%;
    }

    .popup_btn {
        position: absolute;
        top: 5%;
        margin: 0 auto;
        z-index: 3;
        max-height: 94%;
        max-width: 94%;
        margin: 1% 0 0 0;
    }
</style>
<!--</div>-->
<script>
    function resize() {
        $(document).ready(function () {
            $(".image").click(function () {
                var img = $(this);
                var src = img.attr('src');
                $("body").append(
                    "<div class='popup'>" +
                    "<div class='popup_bg'></div>" +
                    "<img src='" + src + "' class='popup_img' />" +
                    //"<button onclick='window.location.href" + "=`" + src + "`" + "' class='popup_btn'>Открыть изображение в отдельной вкладке</button>" +
                    "<button onclick='window.open(`" + src + "`,`_blank`)" + "' class='popup_btn'>Открыть изображение в отдельной вкладке</button>" +
                    "</div>");
                $(".popup").fadeIn(500);
                $(".popup_bg").click(function () {
                    $(".popup").fadeOut(500);
                    setTimeout(() => {
                        $(".popup").remove();
                    }, 500);
                });
            });
        });
    }
</script>
<script language="C#">
    function deletefile() {
        window.wid
        let html = document.documentElement;
        up.onclick = function () {
            // при помощи JS увеличить размер шрифта html на 2px
            html.style.fontSize = parseInt(getComputedStyle(html, '').fontSize) + 2 + 'px';
        };
    }
</script>

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->
<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
